/* Applies to whole document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Patrick Hand', cursive;
    position: relative;
}

h2, h3 {
    font-size: 200%;
    padding: 20px;
    text-decoration: underline;
}
p {
    font-size: 200%;
    padding: 20px;
}

button {
    text-align: center;
    font-size: 150%;
}

/* Center game */

.game {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Title */

.logo {
    font-size: 500%;
}

/* Scores */

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    justify-content: space-evenly;
    border: 5px black solid;
}

.computer-score {
    border-top: none;
}

/* Styling for buttons */

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.btn {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.btn:hover {
    background: grey;
    color: white;
}

/**  Footer */

footer {
    background-color: gainsboro;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}